django
djangorestframework
django-unfold
django-fernet-fields-v2
django-import-export
langchain
langchain-google-genai
langchain-openai
langchain-groq
elevenlabs
python-dotenv
itsdangerous
mysqlclient
python-dotenv